## Evaluating Classification Models

In [12]:
import pandas as pd
from sklearn.metrics import classification_report

In [3]:

df = pd.DataFrame({
    'actual': ['coffee', 'no coffee', 'no coffee', 'coffee', 'coffee', 'coffee', 'no coffee', 'coffee'],
    'prediction': ['no coffee', 'no coffee', 'coffee', 'coffee', 'coffee', 'coffee', 'no coffee', 'no coffee'],
})

df.head()

      actual prediction
0     coffee  no coffee
1  no coffee  no coffee
2  no coffee     coffee
3     coffee     coffee
4     coffee     coffee

In [4]:
# This is the Confusion Matrix
# We're looking at the tally of predicted vs. actual outcomes
pd.crosstab(df.prediction, df.actual)

actual      coffee  no coffee
prediction
coffee           3          1
no coffee        2          2

In [5]:
df.actual.value_counts()

coffee       5
no coffee    3
Name: actual, dtype: int64

In [6]:
# There's a 5/8ths chance that the actual value is coffee, so this will be our baseline
df['baseline_prediction'] = 'coffee'

In [10]:
# Model accuracy
model_accuracy = (df.prediction == df.actual).mean()
baseline_accuracy = (df.baseline_prediction == df.actual).mean()

In [11]:
print(f'   model accuracy: {model_accuracy:.2%}')
print(f'baseline accuracy: {baseline_accuracy:.2%}')

   model accuracy: 62.50%
baseline accuracy: 62.50%

In [13]:
df = pd.read_clipboard()

In [14]:
df

,|,|.1,actual,cat,|.2,actual.1,dog,|.3
0,|:------------,|-----------:|-----------:|,None,None,NaN,None,NaN,None
1,|,predicted,cat,|,34.0,|,7.0,|
2,|,predicted,dog,|,13.0,|,46.0,|