# Dataframe Manipulation Warmup

In [1]:
import numpy as np
import pandas as pd

np.random.seed(406)

n = 5000
df = pd.DataFrame({
    'favorite_animal': np.random.choice(['cat', 'dog', 'frog', 'lemur', 'panda'], n),
    'favorite_vegetable': np.random.choice(['brussel sprouts', 'potato', 'squash'], n),
    'favorite_fruit': np.random.choice(['banana', 'apple', 'blueberries'], n),
    'wears_glasses': np.random.choice(['yes', 'no'], n),
    'netflix_consumption': np.random.normal(10, 2, n),
    'open_browser_tabs': np.random.randint(2, 90, n),
})

- What is the highest amount of netflix consumption? `17.535`

In [2]:
df.netflix_consumption.max()

17.534818515438925

- How many people wear glasses? What percentage of people is this? `2555`, `.511`

In [9]:
df.wears_glasses.value_counts(normalize=True)

yes    0.511
no     0.489
Name: wears_glasses, dtype: float64

- How many people's favorite animal is a dog? `1002`

In [10]:
(df.favorite_animal == 'dog').sum()

1002

- What is the most common favorite animal? `lemur`

In [11]:
df.favorite_animal.value_counts()

lemur    1028
frog     1015
dog      1002
cat       980
panda     975
Name: favorite_animal, dtype: int64

- What is the average netflix consumption for people that prefer brussel
  sprouts? `10.008`

In [16]:
df[df.favorite_vegetable == 'brussel sprouts'].netflix_consumption.mean()

10.00847154798366

- What is the most common favorite fruit for people who wear glasses and have
  more than 40 open browser tabs? `blueberries`

In [21]:
df[(df.wears_glasses == 'yes') & (df.open_browser_tabs > 40)].favorite_fruit.value_counts()

blueberries    498
apple          477
banana         472
Name: favorite_fruit, dtype: int64

- What percentage of people have a netflix consumption lower than 7? `.0716`

In [24]:
(df.netflix_consumption < 7).mean()

0.0716

- What is the average netflix consumption for people with less than 30 open
  browser tabs? `9.91935`

In [27]:
df[df.open_browser_tabs < 30].netflix_consumption.mean()

9.91935736918227

- How many people *don't* wear glasses, have a favorite animal of a panda, have
  a favorite fruit of blueberries, and have more than 60 open browser tabs? What
  is the median netflix consumption for this group? What is the most common
  favorite vegetable for this group? `46`, `10.455`, `potato`

In [34]:
no_glasses = df.wears_glasses == 'no'
loves_pandas = df.favorite_animal == 'panda'
too_many_tabs = df.open_browser_tabs > 60
likes_blueberries = df.favorite_fruit == 'blueberries'

mask = no_glasses & loves_pandas & too_many_tabs & likes_blueberries

In [35]:
df[mask].shape

(46, 6)

In [32]:
df[mask].netflix_consumption.median()

10.45479760071613

In [33]:
df[mask].favorite_vegetable.value_counts()

potato             19
brussel sprouts    14
squash             13
Name: favorite_vegetable, dtype: int64

In [39]:
subgroup = df[df.wears_glasses == 'no']
subgroup = subgroup[subgroup.favorite_animal == 'panda']
subgroup = subgroup[subgroup.open_browser_tabs > 60]
subgroup = subgroup[subgroup.favorite_fruit == 'blueberries']
subgroup.shape

(46, 6)

In [43]:
(df.query('wears_glasses == "no"')
 .query('favorite_animal == "panda"')
 .query('open_browser_tabs > 60')
 .query('favorite_fruit == "blueberries"')
 .netflix_consumption.median())

10.45479760071613

- What is the least popular combination of favorite fruit and vegetable? `apple` and `potato`

In [47]:
df.groupby(['favorite_fruit', 'favorite_vegetable']).size().sort_values()

favorite_fruit  favorite_vegetable
apple           potato                512
banana          squash                524
apple           squash                555
blueberries     brussel sprouts       555
                potato                560
apple           brussel sprouts       565
banana          potato                570
                brussel sprouts       576
blueberries     squash                583
dtype: int64

In [55]:
df.groupby(['favorite_fruit', 'favorite_vegetable']).size().idxmax()

('blueberries', 'squash')

In [54]:
pd.crosstab(df.favorite_fruit, df.favorite_vegetable)

favorite_vegetable  brussel sprouts  potato  squash
favorite_fruit
apple                           565     512     555
banana                          576     570     524
blueberries                     555     560     583

In [50]:
df['fav_fruit_and_veggie'] = df.favorite_fruit + ' ' + df.favorite_vegetable
df.head()

,favorite_animal,favorite_vegetable,favorite_fruit,wears_glasses,netflix_consumption,open_browser_tabs,fav_fruit_and_veggie
0,lemur,potato,apple,yes,8.313351,44,apple potato
1,panda,potato,apple,yes,11.801073,10,apple potato
2,cat,squash,blueberries,yes,10.105141,35,blueberries squash
3,lemur,squash,apple,no,11.024605,70,apple squash
4,dog,brussel sprouts,apple,yes,6.732698,73,apple brussel sprouts

In [52]:
df.fav_fruit_and_veggie.value_counts()

blueberries squash             583
banana brussel sprouts         576
banana potato                  570
apple brussel sprouts          565
blueberries potato             560
blueberries brussel sprouts    555
apple squash                   555
banana squash                  524
apple potato                   512
Name: fav_fruit_and_veggie, dtype: int64

- Which combination of favorite animal and wearing glasses has the highest average
  netflix consumption? people that wear glasses and prefer pandas

In [57]:
df.groupby(['favorite_animal', 'wears_glasses']).netflix_consumption.mean().sort_values()

favorite_animal  wears_glasses
frog             yes               9.834740
cat              no                9.846183
                 yes               9.884685
dog              no                9.933246
panda            no                9.946293
frog             no                9.962311
lemur            yes              10.010196
                 no               10.024557
dog              yes              10.087352
panda            yes              10.092273
Name: netflix_consumption, dtype: float64

In [65]:
# values (numeric), rows (category), columns (category)
# aggfunc=np.max, for example, to specify aggregation
df.pivot_table('netflix_consumption', 'favorite_animal', 'wears_glasses')

wears_glasses           no        yes
favorite_animal
cat               9.846183   9.884685
dog               9.933246  10.087352
frog              9.962311   9.834740
lemur            10.024557  10.010196
panda             9.946293  10.092273

- **Bonus**: for each of the above questions, what kind of visualization would
  be the most effective in conveying your answer?