# Welcome to "Classification Intro" a quick primer 

This notebook is an introduction and primer on machine learning classification using a decision tree model.

## Getting Started
1. Create your own account on Kaggle.com
2. Click the blue "Copy and Edit" in the upper-right part of this document to create your own copy to your own Kaggle account.
3. As you complete exercises, be sure to click the blue "Save" button to create save points for your work.

### Orientation:
- This notebook is composed of cells. Each cell will contain text either or Python code.
- To run the Python code cells, click the "play" button next to the cell or click your cursor inside the cell and do "Shift + Enter" on your keyboard. 
- Run the code cells in order from top to bottom, because order matters in programming and code.

### Troubleshooting
- If the notebook appears to not be working correctly, then restart this environment by going up to **Run** then select **Restart Session**. 
- If the notebook is running correctly, but you need a fresh copy of this original notebook, go to https://www.kaggle.com/ryanorsinger/data-basics and click "Copy and Edit" to make yourself a new copy.
- Save frequently and save often, so you have access to all of your exercise solutions!

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import train_test_split # sklearn is a machine learning library
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

## What kinds of questions can Data Science methods answer?
- How Many or How Much of something (Regression)
- **Is this observation A or B, or C or D or E... (Classification)**
- What groupings exist in the data already (Clustering)
- What should we expect to happen next? (Time Series Analysis)
- Is this weird? (Anomaly Detection)

## What are we doing?
- We'll be using a decision tree classifier to predict the species of an iris flower based on the measurement of its flowers.
- Classification machine learning is used all the time for such things as:
    - Facial recognition
    - Handwriting recognition and conversion to typed text
- Classification is a "supervised learning" type of machine learning. That means we train the algorithm on existing data to learn a rule, a recognized pattern, to apply to future data.

![machine learning vs. classical programming](https://camo.githubusercontent.com/fedd5d66bea57a430635498de58dc7c6f064f280/68747470733a2f2f64707a6268796262327064636a2e636c6f756466726f6e742e6e65742f63686f6c6c65742f466967757265732f303166696730322e6a7067)

## How does a decision tree work:
- Classification algorithms use training data to measure the distance between points or the distance around boundaries between points.
- By "learning" the pattern recognition around sets of points, the classifier produces a "decision rule" to use to apply to classify new incoming data.
![decision tree diagram](https://raw.githubusercontent.com/ryanorsinger/machine-learning-classification-workshop/master/decision_tree_diagram.png)

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")
df["petal_area"] = df.petal_width * df.petal_length
df["sepal_area"] = df.sepal_width * df.sepal_length
df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,petal_area,sepal_area
0,5.1,3.5,1.4,0.2,setosa,0.28,17.85
1,4.9,3.0,1.4,0.2,setosa,0.28,14.70
2,4.7,3.2,1.3,0.2,setosa,0.26,15.04
3,4.6,3.1,1.5,0.2,setosa,0.30,14.26
4,5.0,3.6,1.4,0.2,setosa,0.28,18.00

In [4]:
# For our modeling, X is the input variables to build a predictor
X = df.drop(['species'], axis=1)
X.head()

,sepal_length,sepal_width,petal_length,petal_width,petal_area,sepal_area
0,5.1,3.5,1.4,0.2,0.28,17.85
1,4.9,3.0,1.4,0.2,0.28,14.70
2,4.7,3.2,1.3,0.2,0.26,15.04
3,4.6,3.1,1.5,0.2,0.30,14.26
4,5.0,3.6,1.4,0.2,0.28,18.00

In [7]:
# y is our target variable, we're trying to predict the species of future irises based on their measurements
y = df[['species']]
y.head()

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .30, random_state = 123)

X_train.head()

,sepal_length,sepal_width,petal_length,petal_width,petal_area,sepal_area
114,5.8,2.8,5.1,2.4,12.24,16.24
136,6.3,3.4,5.6,2.4,13.44,21.42
53,5.5,2.3,4.0,1.3,5.20,12.65
19,5.1,3.8,1.5,0.3,0.45,19.38
38,4.4,3.0,1.3,0.2,0.26,13.20

## Remember the Data Science Pipeline
- Plan your project, what is a success? What's the most important thing? What are our initial hypotheses? What's the research question?
- Acquire the raw data
- Prepare the raw data (lot of data cleaning and validation)
- Exploring the data (Visualizing and performing statistical tests)
    - Goal of exploring: identify drivers or predictors of your target
    - Identify and create derived columns, if they're helpful
    - Statistical testing of our hypotheses
- Modeling
    - Build a ML model 
    - train it on training data
    - then evaluate the accuracy of the model when making predictions on the test dataset

In [9]:
# for classification you can change the algorithm to gini or entropy (information gain).  Default is gini.
# The pattern for sklearn is:
# 1. Make a thing (a new, blank machine learning model of a specific kind)
# 2. Fit that thing (.fitting means to train the machine learning model)
# 3. Use that thing (we'll use our trained model to make predictions on future datapoints)
clf = DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=123)
clf

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=123,
            splitter='best')

In [10]:
# The easiest part of the entire Data Science pipeline is fitting the machine learning model...
# It's almost anticlimatic...
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=123,
            splitter='best')

In [11]:
# Produce a set of species predictions
# Calculate the predicted probability that the prediction is correct
y_pred = clf.predict(X_train)
y_pred_proba = clf.predict_proba(X_train)

In [13]:
y_pred[0:10]

array(['virginica', 'virginica', 'versicolor', 'setosa', 'setosa',
       'virginica', 'setosa', 'setosa', 'versicolor', 'versicolor'],
      dtype=object)

In [14]:
y_pred_proba

array([[0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 1. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [0. , 0. , 1. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 0. , 1. ],
       [0. , 1. , 0. ],
       [0. , 0. , 1. ],
       [1. , 0. , 0. ],
       [0. , 0. , 1. ],
       [0. , 1. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [0. , 0. , 1. ],
       [0. , 1. , 0. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [1. , 0. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 0. , 1. ],
       [1. , 0. , 0. ],
       [0. , 0. , 1. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [1. , 0. , 0. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 0. , 1. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [0. , 1. , 0. ],
       [1. , 0. , 0. ],
       [0. , 0.5, 0.5],
       [0. , 0. , 1. ],
       [1. , 0. , 0. ],
       [0. , 0. , 1. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [0. , 0.5, 0.5],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [0. , 1. , 0. ],
       [0. , 0. , 1. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [0. , 1. , 0. ],
       [0. , 0.5, 0.5],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 0. , 1. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 0. , 1. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [0. , 1. , 0. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [1. , 0. , 0. ],
       [0. , 1. , 0. ],
       [1. , 0. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [1. , 0. , 0. ],
       [0. , 1. , 0. ],
       [0. , 0. , 1. ],
       [0. , 1. , 0. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [1. , 0. , 0. ],
       [0. , 1. , 0. ],
       [1. , 0. , 0. ],
       [0. , 0. , 1. ],
       [0. , 0. , 1. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 0. , 1. ],
       [0. , 0.5, 0.5],
       [0. , 0.5, 0.5],
       [1. , 0. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 0.5, 0.5],
       [0. , 0. , 1. ]])

In [15]:
labels = sorted(y_train.species.unique())
predicted_labels = [name + " predicted" for name in labels ]

conf = pd.DataFrame(confusion_matrix(y_train, y_pred), index=labels, columns=[predicted_labels])
conf.index.name = "actual"
conf

           setosa predicted versicolor predicted virginica predicted
actual
setosa                   32                    0                   0
versicolor                0                   40                   0
virginica                 0                    3                  30

In [16]:
# Accuracy = total number of (true positives + number of true negatives) divided by the total numbrer of observations
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))

Accuracy of Decision Tree classifier on training set: 0.97

In [20]:
# Precision, Recall, f1 score, and more!
pd.DataFrame(classification_report(y_train, y_pred, output_dict=True))

           setosa  versicolor  virginica   micro avg   macro avg  weighted avg
precision     1.0    0.930233   1.000000    0.971429    0.976744      0.973422
recall        1.0    1.000000   0.909091    0.971429    0.969697      0.971429
f1-score      1.0    0.963855   0.952381    0.971429    0.972079      0.971265
support      32.0   40.000000  33.000000  105.000000  105.000000    105.000000

In [24]:
y_test.shape

(45, 1)

In [21]:
# The model is a little less accurate on the test data, but 93% accuracy is pretty good!
print('Accuracy of Decision Tree classifier on test set: {:.2f}'
     .format(clf.score(X_test, y_test)))

Accuracy of Decision Tree classifier on test set: 0.93

In [22]:
# Actual vs. predicted numbers on the test set!
# y_prediction based on X_test
y_pred = clf.predict(X_test)

labels = sorted(y_train.species.unique())
predicted_labels = [name + " predicted" for name in labels ]

conf = pd.DataFrame(confusion_matrix(y_test, y_pred), index=labels, columns=[predicted_labels])
conf.index.name = "actual"
conf

           setosa predicted versicolor predicted virginica predicted
actual
setosa                   18                    0                   0
versicolor                0                   10                   0
virginica                 0                    3                  14

In [25]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        18
  versicolor       0.77      1.00      0.87        10
   virginica       1.00      0.82      0.90        17

   micro avg       0.93      0.93      0.93        45
   macro avg       0.92      0.94      0.92        45
weighted avg       0.95      0.93      0.93        45

In [23]:
pd.DataFrame(classification_report(y_test, y_pred, output_dict=True))

           setosa  versicolor  virginica  micro avg  macro avg  weighted avg
precision     1.0    0.769231   1.000000   0.933333   0.923077      0.948718
recall        1.0    1.000000   0.823529   0.933333   0.941176      0.933333
f1-score      1.0    0.869565   0.903226   0.933333   0.924264      0.934455
support      18.0   10.000000  17.000000  45.000000  45.000000     45.000000

In [26]:
import graphviz
from graphviz import Graph

dot_data = export_graphviz(clf, out_file=None) 
graph = graphviz.Source(dot_data) 

graph.render('iris_decision_tree', view=True)

'iris_decision_tree.pdf'

## Get More Practice with Modeling
Use what you've learned from the code above to work with the Titanic dataset. Can you build a decision tree that accurately predicts who would survive the Titanic disaster?

In [ ]:
# The "survived" class is the target we're trying to predict based on other features/columns
titanic = sns.load_dataset("titanic")
titanic.head()

## What to do next:
- Use the steps above as a guide for how to break apart the features from the prediction column
- Be sure to split your training and testing data
- Train your data on the training set
- Then evaluate your model based on the testing dataset.

In [31]:
# .iloc[starting_row:inclusive_ending_row, starting_column:inclusive_ending_column]
X.iloc[:, 2]

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal_length, Length: 150, dtype: float64

In [29]:
X

,sepal_length,sepal_width,petal_length,petal_width,petal_area,sepal_area
0,5.1,3.5,1.4,0.2,0.28,17.85
1,4.9,3.0,1.4,0.2,0.28,14.70
2,4.7,3.2,1.3,0.2,0.26,15.04
3,4.6,3.1,1.5,0.2,0.30,14.26
4,5.0,3.6,1.4,0.2,0.28,18.00
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,11.96,20.10
146,6.3,2.5,5.0,1.9,9.50,15.75
147,6.5,3.0,5.2,2.0,10.40,19.50
148,6.2,3.4,5.4,2.3,12.42,21.08
149,5.9,3.0,5.1,1.8,9.18,17.70