<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Acquire-Exercises" data-toc-modified-id="Acquire-Exercises-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Acquire Exercises</a></span><ul class="toc-item"><li><span><a href="#Here-is-the-Time-Series-Review-Notebook-through-Acquire.-I-will-add-to-it-as-we-go." data-toc-modified-id="Here-is-the-Time-Series-Review-Notebook-through-Acquire.-I-will-add-to-it-as-we-go.-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span><a href="https://faithkane3.github.io/time_series_review" target="_blank">Here</a> is the Time Series Review Notebook through Acquire. I will add to it as we go.</a></span></li><li><span><a href="#Requests-1-4" data-toc-modified-id="Requests-1-4-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Requests 1-4</a></span></li><li><span><a href="#sales" data-toc-modified-id="sales-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>sales</a></span></li><li><span><a href="#stores" data-toc-modified-id="stores-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>stores</a></span></li><li><span><a href="#Let's-automate-this-with-a-function-that-works-on-all-of-the-pages-we-need-and-creates-csv-files." data-toc-modified-id="Let's-automate-this-with-a-function-that-works-on-all-of-the-pages-we-need-and-creates-csv-files.-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Let's automate this with a function that works on all of the pages we need and creates csv files.</a></span></li><li><span><a href="#Function-to-combine-all-three-DataFrames-using-our-helper-function-above." data-toc-modified-id="Function-to-combine-all-three-DataFrames-using-our-helper-function-above.-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Function to combine all three DataFrames using our helper function above.</a></span></li></ul></li><li><span><a href="#Use-read_csv-with-url-to-get-German-Engergy-Data" data-toc-modified-id="Use-read_csv-with-url-to-get-German-Engergy-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Use read_csv with url to get German Engergy Data</a></span><ul class="toc-item"><li><span><a href="#Create-a-function-that-retrieves-German-Energy-data-and-reads/writes-csv" data-toc-modified-id="Create-a-function-that-retrieves-German-Energy-data-and-reads/writes-csv-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Create a function that retrieves German Energy data and reads/writes csv</a></span></li></ul></li></ul></div>

In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

plt.rc('figure', figsize=(11, 9))
plt.rc('font', size=13)

import os
import requests

import warnings
warnings.filterwarnings("ignore")

## Acquire Exercises

### [Here](https://faithkane3.github.io/time_series_review) is the Time Series Review Notebook through Acquire. I will add to it as we go.

### Requests 1-4

1. Using the code from the lesson as a guide, create a dataframe named items that has all of the data for items.


2. Do the same thing, but for stores.


3. Extract the data for sales. There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.


4. Save the data in your files to local csv files so that it will be faster to access in the future.

In [2]:
# let's check out the documentation for this API

base_url = 'https://python.zach.lol'
response = requests.get(base_url + '/documentation')
data = response.json()
print(data['payload'])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

In [3]:
# This is page 1 of items out of 3 pages

api_url = base_url + '/api/v1/'
response = requests.get(api_url + 'items')
response.ok

True

In [4]:
# Use .json() method on our response, and we have a dictionary object

data = response.json()
print(type(data))
data

<class 'dict'>

{'payload': {'items': [{'item_brand': 'Riceland',
    'item_id': 1,
    'item_name': 'Riceland American Jazmine Rice',
    'item_price': 0.84,
    'item_upc12': '35200264013',
    'item_upc14': '35200264013'},
   {'item_brand': 'Caress',
    'item_id': 2,
    'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
    'item_price': 6.44,
    'item_upc12': '11111065925',
    'item_upc14': '11111065925'},
   {'item_brand': 'Earths Best',
    'item_id': 3,
    'item_name': 'Earths Best Organic Fruit Yogurt Smoothie Mixed Berry',
    'item_price': 2.43,
    'item_upc12': '23923330139',
    'item_upc14': '23923330139'},
   {'item_brand': 'Boars Head',
    'item_id': 4,
    'item_name': 'Boars Head Sliced White American Cheese - 120 Ct',
    'item_price': 3.14,
    'item_upc12': '208528800007',
    'item_upc14': '208528800007'},
   {'item_brand': 'Back To Nature',
    'item_id': 5,
    'item_name': 'Back To Nature Gluten Free White Cheddar Rice Thin Crackers',
    'item_price': 2.61,
    'item_upc12': '759283100036',
    'item_upc14': '759283100036'},
   {'item_brand': 'Sally Hansen',
    'item_id': 6,
    'item_name': 'Sally Hansen Nail Color Magnetic 903 Silver Elements',
    'item_price': 6.93,
    'item_upc12': '74170388732',
    'item_upc14': '74170388732'},
   {'item_brand': 'Twinings Of London',
    'item_id': 7,
    'item_name': 'Twinings Of London Classics Lady Grey Tea - 20 Ct',
    'item_price': 9.64,
    'item_upc12': '70177154004',
    'item_upc14': '70177154004'},
   {'item_brand': 'Lea & Perrins',
    'item_id': 8,
    'item_name': 'Lea & Perrins Marinade In-a-bag Cracked Peppercorn',
    'item_price': 1.68,
    'item_upc12': '51600080015',
    'item_upc14': '51600080015'},
   {'item_brand': 'Van De Kamps',
    'item_id': 9,
    'item_name': 'Van De Kamps Fillets Beer Battered - 10 Ct',
    'item_price': 1.79,
    'item_upc12': '19600923015',
    'item_upc14': '19600923015'},
   {'item_brand': 'Ahold',
    'item_id': 10,
    'item_name': 'Ahold Cocoa Almonds',
    'item_price': 3.17,
    'item_upc12': '688267141676',
    'item_upc14': '688267141676'},
   {'item_brand': 'Honest Tea',
    'item_id': 11,
    'item_name': 'Honest Tea Peach White Tea',
    'item_price': 3.93,
    'item_upc12': '657622604842',
    'item_upc14': '657622604842'},
   {'item_brand': 'Mueller',
    'item_id': 12,
    'item_name': 'Mueller Sport Care Basic Support Level Medium Elastic Knee Support',
    'item_price': 8.4,
    'item_upc12': '74676640211',
    'item_upc14': '74676640211'},
   {'item_brand': 'Garnier Nutritioniste',
    'item_id': 13,
    'item_name': 'Garnier Nutritioniste Moisture Rescue Fresh Cleansing Foam',
    'item_price': 6.47,
    'item_upc12': '603084234561',
    'item_upc14': '603084234561'},
   {'item_brand': 'Pamprin',
    'item_id': 14,
    'item_name': 'Pamprin Maximum Strength Multi-symptom Menstrual Pain Relief',
    'item_price': 7.54,
    'item_upc12': '41167300121',
    'item_upc14': '41167300121'},
   {'item_brand': 'Suave',
    'item_id': 15,
    'item_name': 'Suave Naturals Moisturizing Body Wash Creamy Tropical Coconut',
    'item_price': 9.11,
    'item_upc12': '79400847201',
    'item_upc14': '79400847201'},
   {'item_brand': 'Burts Bees',
    'item_id': 16,
    'item_name': 'Burts Bees Daily Moisturizing Cream Sensitive',
    'item_price': 5.17,
    'item_upc12': '792850014008',
    'item_upc14': '792850014008'},
   {'item_brand': 'Ducal',
    'item_id': 17,
    'item_name': 'Ducal Refried Red Beans',
    'item_price': 1.16,
    'item_upc12': '88313590791',
    'item_upc14': '88313590791'},
   {'item_brand': 'Scotch',
    'item_id': 18,
    'item_name': 'Scotch Removable Clear Mounting Squares - 35 Ct',
    'item_price': 4.39,
    'item_upc12': '21200725340',
    'item_upc14': '21200725340'},
   {'item_brand': 'Careone',
    'item_id': 19,
    'item_name': 'Careone Family Comb Set - 8 Ct',
    'item_price': 0.74,
    'item_upc12': '41520035646',
    'item_upc14': '41520035646'},
   {'item_brand': 'Usda Produce',
    'item_id': 20,
    'item_name': 'Plums Black',
    'item_price': 5.62,
    'item_upc12': '204040000000',
    'item_upc14': '204040000000'}],
  'max_page': 3,
  'next_page': '/api/v1/items?page=2',
  'page': 1,
  'previous_page': None},
 'status': 'ok'}

In [5]:
# the keys in our dictionary object are payload and status

data.keys()

dict_keys(['payload', 'status'])

In [6]:
# let's look at the keys in payload
# payload is also a key for a dictionary of items
# items is the key for a list of dictionaries (items)

data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [7]:
# Look at first two item dictionaries in items list

data['payload']['items'][:2]

[{'item_brand': 'Riceland',
  'item_id': 1,
  'item_name': 'Riceland American Jazmine Rice',
  'item_price': 0.84,
  'item_upc12': '35200264013',
  'item_upc14': '35200264013'},
 {'item_brand': 'Caress',
  'item_id': 2,
  'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
  'item_price': 6.44,
  'item_upc12': '11111065925',
  'item_upc14': '11111065925'}]

In [8]:
# We have a list of 20 items from page one, and now we want to add items from the next page

items = data['payload']['items']
len(items)
#type(items)

20

In [9]:
# Our next page will be page 2 of items out of 3

data['payload']['next_page']

'/api/v1/items?page=2'

In [10]:
# Grab the next page

response = requests.get(base_url + data['payload']['next_page'])
data = response.json()

In [11]:
# Add items from the second page to our list

items.extend(data['payload']['items'])
len(items)

40

In [12]:
# Our next page is page 3 of items out of 3

data['payload']['next_page']

'/api/v1/items?page=3'

In [13]:
# Grab the next page in the same way and add items to our list
# There are only 10 items on this last page (len(data['payload']['items']))

response = requests.get(base_url + data['payload']['next_page'])
data = response.json()

items.extend(data['payload']['items'])
len(items)

50

>**There is no next page, so `data['payload']['next_page']` returns `None`. This can come in handy when we write our function later.**

In [14]:
#data['payload']
data['payload']['next_page'] == None

True

In [15]:
# Use our items, our list of dictionaries, to create a DataFrame

items_df = pd.DataFrame(items)
print(items_df.shape)
items_df.head(2)

(50, 6)

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925

### sales

In [16]:
api_url = base_url + '/api/v1/'
response = requests.get(api_url + 'sales')
data = response.json()
data['payload']['max_page']

183

### stores

In [17]:
api_url = base_url + '/api/v1/'
response = requests.get(api_url + 'stores')
data = response.json()
data['payload']['max_page']

1

### Let's automate this with a function that works on all of the pages we need and creates csv files.

In [18]:
def get_df(name):
    """
    This function takes in the string
    'items', 'stores', or 'sales' and
    returns a df containing all pages and
    creates a .csv file for future use.
    """
    base_url = 'https://python.zach.lol'
    api_url = base_url + '/api/v1/'
    response = requests.get(api_url + name)
    data = response.json()
    
    # create list from 1st page
    my_list = data['payload'][name]
    
    # loop through the pages and add to list
    while data['payload']['next_page'] != None:
        response = requests.get(base_url + data['payload']['next_page'])
        data = response.json()
        my_list.extend(data['payload'][name])
    
    # Create DataFrame from list
    df = pd.DataFrame(my_list)
    
    # Write DataFrame to csv file for future use
    df.to_csv(name + '.csv')
    return df

In [19]:
items_df = get_df('items')
print(items_df.shape)
items_df.head()

(50, 6)

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [20]:
sales_df = get_df('sales')
print(sales_df.shape)
sales_df.head()

(913000, 5)

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

In [21]:
stores_df = get_df('stores')
print(stores_df.shape)
stores_df.head()

(10, 5)

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [22]:
df = pd.merge(sales_df, stores_df, left_on='store', right_on='store_id').drop(columns={'store'})
df.head(2)

,item,sale_amount,sale_date,sale_id,store_address,store_city,store_id,store_state,store_zipcode
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253

In [23]:
df = pd.merge(df, items_df, left_on='item', right_on='item_id').drop(columns={'item'})
df.head(2)

,sale_amount,sale_date,sale_id,store_address,store_city,store_id,store_state,store_zipcode,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013

In [24]:
df.shape

(913000, 14)

### Function to combine all three DataFrames using our helper function above.

5. Combine the data from your three separate dataframes into one large dataframe.

In [34]:
# Create a function that checks for a csv, and if one doesn't exist it creates one
# The function should also create one large df using all three df

def get_store_data():
    """
    This function checks for csv files
    for items, sales, and stores, and 
    if there are none, it creates them and 
    merges them into one df that it writes
    to csv and reads in the future
    """
    # check for csv files or create them
    if os.path.isfile('items.csv'):
        items_df = pd.read_csv('items.csv', index_col=0)
    else:
        items_df = get_df('items')
        
    if os.path.isfile('stores.csv'):
        stores_df = pd.read_csv('stores.csv', index_col=0)
    else:
        stores_df = get_df('stores')
        
    if os.path.isfile('sales.csv'):
        sales_df = pd.read_csv('sales.csv', index_col=0)
    else:
        sales_df = get_df('sales')
        
    if os.path.isfile('big_df.csv'):
        df = pd.read_csv('big_df.csv', parse_dates=True, index_col='sale_date')
        return df
    else:
        # merge all of the DataFrames into one
        df = pd.merge(sales_df, stores_df, left_on='store', right_on='store_id').drop(columns={'store'})
        df = pd.merge(df, items_df, left_on='item', right_on='item_id').drop(columns={'item'})

        # convert sale_date to DateTime Index
        df['sale_date'] = pd.to_datetime(df.sale_date)
        df = df.set_index('sale_date').sort_index()

        # write merged DateTime df with all data to directory for future use
        df.to_csv('big_df.csv')
        return df

In [35]:
df = get_store_data()
df.head(2)

,sale_amount,sale_id,store_address,store_city,store_id,store_state,store_zipcode,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
sale_date,,,,,,,,,,,,,
2013-01-01 00:00:00+00:00,13.0,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2013-01-01 00:00:00+00:00,26.0,211817,12018 Perrin Beitel Rd,San Antonio,7,TX,78217,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211

In [36]:
df.shape

(913000, 13)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 913000 entries, 2013-01-01 00:00:00+00:00 to 2017-12-31 00:00:00+00:00
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   sale_amount    913000 non-null  float64
 1   sale_id        913000 non-null  int64
 2   store_address  913000 non-null  object
 3   store_city     913000 non-null  object
 4   store_id       913000 non-null  int64
 5   store_state    913000 non-null  object
 6   store_zipcode  913000 non-null  int64
 7   item_brand     913000 non-null  object
 8   item_id        913000 non-null  int64
 9   item_name      913000 non-null  object
 10  item_price     913000 non-null  float64
 11  item_upc12     913000 non-null  int64
 12  item_upc14     913000 non-null  int64
dtypes: float64(2), int64(6), object(5)
memory usage: 97.5+ MB

## Use read_csv with url to get German Engergy Data

6. Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [29]:
url = 'https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv'
df = pd.read_csv(url, parse_dates=True, index_col='Date')
df.head()

            Consumption  Wind  Solar  Wind+Solar
Date
2006-01-01     1069.184   NaN    NaN         NaN
2006-01-02     1380.521   NaN    NaN         NaN
2006-01-03     1442.533   NaN    NaN         NaN
2006-01-04     1457.217   NaN    NaN         NaN
2006-01-05     1477.131   NaN    NaN         NaN

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4383 entries, 2006-01-01 to 2017-12-31
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Consumption  4383 non-null   float64
 1   Wind         2920 non-null   float64
 2   Solar        2188 non-null   float64
 3   Wind+Solar   2187 non-null   float64
dtypes: float64(4)
memory usage: 171.2 KB

### Create a function that retrieves German Energy data and reads/writes csv

>**`pd.read_csv()` accepts the arguments `parse_dates` and `index_col`. Pass in `parse_dates=True` or `parse_dates=[date_col]`, so that your date column is read in as a DateTime object and `index_col='date'`, so that your date column is set to the index. You can then use `.sort_index()` to make sure your DataFrame is in time order. A DataTime Index is great for exploration and visualization!**

In [31]:
# Function that checks for a csv, and if it doesn't exist it reads url and creates one
# Function returns the df with a DateTime Index by using parse_dates=True

def german_energy_csv():
    """
    This function returns a df with a datetime index
    using the opsd_germany url/csv.
    """
    if os.path.isfile('german_energy.csv'):
        df = pd.read_csv('german_energy.csv', parse_dates=True, index_col='Date').sort_index()
    else:
        url = 'https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv'
        df = pd.read_csv(url, parse_dates=True, index_col="Date").sort_index()
        df.to_csv('german_energy.csv')
    return df

In [32]:
gdf = german_energy_csv()
gdf.head(2)

            Consumption  Wind  Solar  Wind+Solar
Date
2006-01-01     1069.184   NaN    NaN         NaN
2006-01-02     1380.521   NaN    NaN         NaN

In [33]:
gdf.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4383 entries, 2006-01-01 to 2017-12-31
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Consumption  4383 non-null   float64
 1   Wind         2920 non-null   float64
 2   Solar        2188 non-null   float64
 3   Wind+Solar   2187 non-null   float64
dtypes: float64(4)
memory usage: 171.2 KB