In [1]:
import pandas as pd
from datetime import timedelta

In [2]:
df = pd.read_csv("coffee_consumption.csv", index_col="date", parse_dates=True)

In [3]:
df.head()

            coffee_consumption
date
2019-01-01           14.301915
2019-01-02           12.905900
2019-01-03           10.046015
2019-01-04            6.354805
2019-01-07            8.545563

In [4]:
# What was the highest coffee consumption
df.coffee_consumption.max()

17.0434447448351

In [5]:
# On what date did that happen?
day_of_max_consumption = df.coffee_consumption.idxmax()
day_of_max_consumption

Timestamp('2019-07-29 00:00:00')

In [6]:
# What day of the week was it?
day_of_max_consumption.day_name()

'Monday'

In [7]:
df.index.max()

Timestamp('2019-12-31 00:00:00')

In [8]:
df.index.min()

Timestamp('2019-01-01 00:00:00')

In [9]:
# The range in days between the latest date and the earliest date
df.index.max() - df.index.min() + timedelta(days=1)

Timedelta('365 days 00:00:00')

In [10]:
df.index.nunique()

261

In [11]:
df.shape

(261, 1)

In [12]:
df.isnull().sum()

coffee_consumption    0
dtype: int64

In [13]:
# look at this data by Daily frequency w/ .asfreq
df = df.asfreq("D")
df

            coffee_consumption
date
2019-01-01           14.301915
2019-01-02           12.905900
2019-01-03           10.046015
2019-01-04            6.354805
2019-01-05                 NaN
...                        ...
2019-12-27            9.464345
2019-12-28                 NaN
2019-12-29                 NaN
2019-12-30           14.623106
2019-12-31           10.168315

[365 rows x 1 columns]

In [14]:
df = df.ffill()

In [15]:
# df["day"] = df.index.day_name()

In [16]:
df.head()

            coffee_consumption
date
2019-01-01           14.301915
2019-01-02           12.905900
2019-01-03           10.046015
2019-01-04            6.354805
2019-01-05            6.354805

In [17]:
# # is there higher averge coffee consumption on Monday vs. Tuesday?
# monday = df[df.day == "Monday"]
# tuesday = df[df.day == "Tuesday"]

In [18]:
# monday.coffee_consumption.mean()

NameError: name 'monday' is not defined

In [ ]:
# tuesday.coffee_consumption.mean()

In [19]:

df = pd.read_csv("")
df["consumption_diff"] = df.resample("D")["coffee_consumption"].sum().diff()
df

            coffee_consumption  consumption_diff
date
2019-01-01           14.301915               NaN
2019-01-02           12.905900         -1.396015
2019-01-03           10.046015         -2.859885
2019-01-04            6.354805         -3.691210
2019-01-05            6.354805          0.000000
...                        ...               ...
2019-12-27            9.464345          1.951140
2019-12-28            9.464345          0.000000
2019-12-29            9.464345          0.000000
2019-12-30           14.623106          5.158761
2019-12-31           10.168315         -4.454791

[365 rows x 2 columns]