In [32]:
import pandas as pd
from datetime import timedelta

In [23]:
df = pd.read_csv("coffee_consumption.csv", index_col="date", parse_dates=True)

In [24]:
df.head()

            coffee_consumption
date
2019-01-01           14.301915
2019-01-02           12.905900
2019-01-03           10.046015
2019-01-04            6.354805
2019-01-07            8.545563

In [25]:
# What was the highest coffee consumption
df.coffee_consumption.max()

17.0434447448351

In [26]:
# On what date did that happen?
day_of_max_consumption = df.coffee_consumption.idxmax()
day_of_max_consumption

Timestamp('2019-07-29 00:00:00')

In [21]:
# What day of the week was it?
day_of_max_consumption.day_name()

'Monday'

In [27]:
df.index.max()

Timestamp('2019-12-31 00:00:00')

In [28]:
df.index.min()

Timestamp('2019-01-01 00:00:00')

In [33]:
# The range in days between the latest date and the earliest date
df.index.max() - df.index.min() + timedelta(days=1)

Timedelta('365 days 00:00:00')

In [34]:
df.index.nunique()

261

In [35]:
df.shape

(261, 1)

In [36]:
df.isnull().sum()

coffee_consumption    0
dtype: int64

In [38]:
# look at this data by Daily frequency w/ .asfreq
df = df.asfreq("D")
df

            coffee_consumption
date
2019-01-01           14.301915
2019-01-02           12.905900
2019-01-03           10.046015
2019-01-04            6.354805
2019-01-05                 NaN
...                        ...
2019-12-27            9.464345
2019-12-28                 NaN
2019-12-29                 NaN
2019-12-30           14.623106
2019-12-31           10.168315

[365 rows x 1 columns]

In [40]:
df = df.ffill()

In [41]:
df["day"] = df.index.day_name()

In [42]:
df.head()

            coffee_consumption        day
date
2019-01-01           14.301915    Tuesday
2019-01-02           12.905900  Wednesday
2019-01-03           10.046015   Thursday
2019-01-04            6.354805     Friday
2019-01-05            6.354805   Saturday

In [43]:
# is there higher averge coffee consumption on Monday vs. Tuesday?
monday = df[df.day == "Monday"]
tuesday = df[df.day == "Tuesday"]

In [44]:
monday.coffee_consumption.mean()

11.73814281995184

In [45]:
tuesday.coffee_consumption.mean()

9.87995591789677